*{
    margin: 0;
    padding: 0;
}
#man img{
    transition: all 1s;
    overflow: hidden;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px;
}
body{
    background-color: grey;
}
#man img:hover{
    transform: scale(1.1);
}
#man{
    display: flex;
}
#man p{
    color: white;
}
body{
    background-image: url(lago.jpg);
}